.page-title-catalog
  margin: 20px 0!important
  .nav-shop
    display: flex
    justify-content: center
  .shop-title-wrapper
    padding: 0 10px
    border-left: 3px solid $GlobalColor
    border-right: 3px solid $GlobalColor
    h1
      font-family: $fontFamilyAdditionally
      font-size: 2.6em
      text-align: center
      letter-spacing: 0.05em
      text-transform: uppercase
      color: $headerCartTitle

.area-sidebar-shop
  background-color: #fff
  border: 1px solid #F2F2F2
  border-radius: 2px
  padding: 20px!important

.product-categories
  .cat-item
    //display: flex
    //justify-content: space-between
    //flex-direction: row
    //flex-wrap: wrap
    .count
      margin: 0!important
      color: #828282!important
      font-size: 1.3em!important
      border: none!important

.cat-item a
  width: 230px

.main-page-wrapper
  margin-top: 0 !important