.page-title-catalog
  margin: 20px 0!important
  .nav-shop
    display: flex
    justify-content: center
  .shop-title-wrapper
    padding: 0 10px
    border-left: 3px solid $GlobalColor
    border-right: 3px solid $GlobalColor
    h1
      font-family: $fontFamilyAdditionally
      font-size: 2.6em
      text-align: center
      letter-spacing: 0.05em
      text-transform: uppercase
      color: $headerCartTitle

.area-sidebar-shop
  background-color: #fff
  border: 1px solid #F2F2F2
  border-radius: 2px
  padding: 20px!important

.product-categories
  .cat-item
    //display: flex
    //justify-content: space-between
    //flex-direction: row
    //flex-wrap: wrap
    .count
      margin: 0!important
      color: #828282!important
      font-size: 1.3em!important
      border: none!important

.cat-item a
  width: 230px

.main-page-wrapper
  margin-top: 0 !important


/* Catalog banners */
.catalog
  &__content
    &-banner
      &Koncentrator
        background-image: url("images/bunner/concentrator.png")
        background-position: 10% center
        background-color: rgb(255, 255, 255)
        color: rgb(79, 79, 79)
      &Puls
        background-image: url("images/bunner/puls.png")
        background-position: 90% center
        background-color: rgb(232, 244, 252)
        color: rgb(110, 163, 219)
      &Brearh
        background-image: url("images/bunner/breath.png")
        background-position: center 10%
        background-color: rgb(240, 240, 240)
        color: rgb(130, 130, 130)
      &Kokteiler
        background-image: url("images/bunner/kokteiler.png")
        background-position: center 90%
        background-color: rgb(255, 247, 247)
        color: rgb(189, 66, 67)
      &Kislorod
        background-image: url("images/bunner/kislorod.png")
        background-position: bottom right
        background-color: rgb(241, 240, 255)
        color: rgb(131, 136, 165)
      &Associated
        background-image: url("images/bunner/associated.png")
        background-position: left bottom
        background-color: rgb(240, 250, 247)
        color: rgb(78, 191, 157)
    &-banners
      display: flex
      flex-wrap: wrap
      align-items: flex-start
      margin-bottom: 30px
    &-name
      &Koncentrator
        right: 90px
      &Puls
        left: 40px
      &Brearh
        bottom: 10px
      &Kislorod
        left: 10px
      &Kokteiler
        top: 10px
      &Associated
        right: 20px
        top: -20px

    &-main
      display: flex
      flex-wrap: wrap
      justify-content: space-around
