
/** ------------------------------------------------------------------------------------------------
* SECTION GRADIENT
* ------------------------------------------------------------------------------------------------ */

.woodmart-row-gradient-enable {
	position: relative;
}

.woodmart-row-gradient {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}