
/** ------------------------------------------------------------------------------------------------
* TESTIMONIAL
* ------------------------------------------------------------------------------------------------ */

.testimonial {
    padding-left: 15px;
    padding-right: 15px;

    .testimonial-avatar {

        img {
            max-width: 250px;
            display: inline-block;
            border-radius: 50%;
        }
    }

    .testimonial-content {

        footer {
            margin-top: 15px;
            font-weight: 600;
            color: $heading-color;

            > span {
                color: $body-color;
                font-weight:normal;

                &:before {
                    content:" - ";
                }
            }
        }
    }
}

.testimonials {

    &.testimon-align-center {
        text-align: center;

        .testimonial-avatar {
            margin-bottom: 15px;
        }
    }

    &.testimon-align-left,
    &.testimon-align-right {

        .testimonial-inner {
            display: flex;
            align-items: stretch;
        }

        .testimonial-avatar {
            flex:0 0 auto;
        }

        .testimonial-content {
            flex:1 1 auto;
        }
    }

    &.testimon-align-left {
        text-align: left;

        .testimonial-inner {
            flex-direction: row;
        }

        .testimonial-avatar {
            margin-right: 20px;
        }
    }

    &.testimon-align-right {
        text-align: right;

        .testimonial-inner {
            flex-direction: row-reverse;
            -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
        }

        .testimonial-avatar {
            margin-left: 20px;
        }
    }
    
    &.testimonials-grid {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;  
    
        .testimonial {
            margin-bottom: 30px;
        }
    
        &.testimon-columns-1 {

            .testimonial {  
                flex-basis: 100%;
                max-width: 100%;
                width: 100%;
            }
        }
    
        &.testimon-columns-2 {

            .testimonial {  
                flex-basis: 50%;
                max-width: 50%;
                width: 50%;
            }
        }
    
        &.testimon-columns-3 {

            .testimonial {  
                flex-basis: 33.33333333%;
                max-width: 33.33333333%;
                width: 33.33333333%;
            }
        }
    
        &.testimon-columns-4 {

            .testimonial {
                flex-basis: 25%;
                max-width: 25%;
                width: 25%;
            }
        }
    
        &.testimon-columns-5 {

            .testimonial { 
                flex-basis: 20%; 
                max-width: 20%;
                width: 20%;
            }
        }
    
        &.testimon-columns-6 {

            .testimonial {  
                flex-basis: 16.66666666%;
                max-width: 16.66666666%;
                width: 16.66666666%;
            }
        }
    }

    &.testimonials-slider {

        .testimonial {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    
    &.testimon-style-boxed {

        .testimonial {

            &:hover {

                .testimonial-inner {
                    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
                }
            }
        }
    
        .testimonial-inner {
            padding: 30px;
            background-color: white;
            box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
            transition: box-shadow 0.5s ease;
            -webkit-transition: box-shadow 0.5s ease;
        }
    }

    .color-scheme-light &,
    .woodmart-dark & {

        .testimonial-content {
            color:white;

            footer {
                color:rgba(255,255,255,0.9);

                > span {
                    color:rgba(255, 255, 255, 0.8);
                }
            }
        }

        &.testimon-style-boxed {

            .testimonial-inner {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }
}