@charset 'UTF-8';
body
{
    font-size: 10px !important;

    background-color: #f8f8f8;
}

.main-page-wrapper
{
    padding-top: 0 !important; 

    background-color: #f8f8f8 !important;
}

.container
{
    width: 100% !important;
}

@media (min-width: 1200px)
{
    .container,
    .woodmart-google-map-content-wrap
    {
        max-width: 1366px !important;
    }
}

p
{
    margin: 0 !important;
}

h3
{
    line-height: 1.1 !important;

    margin: 0 !important;
}

.title-h2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.title-h2 h2
{
    font-family: 'Rubik';
    font-size: 3em;
    font-weight: 500;
    line-height: .8em;

    padding: 0 10px;

    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;

    color: #4f4f4f;
    border-right: 3px solid #c62828;
    border-left: 3px solid #c62828;
}

/* Price Global */
.price .amount
{
    font-weight: 500 !important;

    color: #4f4f4f !important;
}

.price inc .amount
{
    font-weight: 500;

    color: #4f4f4f;
}

.price del .amount
{
    font-weight: 500;

    color: #bdbdbd !important;
}

/* Price product-item-grid */
.product-grid-item .price
{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
        flex-direction: column; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.product-grid-item .amount
{
    font-size: 18px !important;
}

.product-grid-item inc
{
    font-size: 18px !important;
}
.product-grid-item inc .amount
{
    font-size: 18px !important;
}

.product-grid-item del .amount
{
    font-size: 12px !important;
}

/* Main position header*/
.main-header
{
    z-index: 100 !important;
}

.header-categories
{
    padding-bottom: 0 !important;
}
.header-categories .search-extended
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.vertical-navigation .item-level-0 > a
{
    font-size: 16px !important;
    font-weight: 400 !important; 
    line-height: 20px;

    padding: 12px 18px;

    color: #828282 !important;
}

.right-column > .woodmart-header-links,
.right-column > .woodmart-wishlist-info-widget,
.right-column > .woodmart-shopping-cart
{
    margin: 0 15px !important;
}

/* Sticky header position */
.sticky-header .search-extended
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.sticky-header > .secondary-header > .container
{
    width: 97% !important;
    max-width: 100% !important;
}

/* Secondary menu */
.secondary-header
{
    background-color: #f8f8f8;
}
.secondary-header .burger-icon
{
    display: block !important;
}
.secondary-header .vertical-navigation
{
    width: 315px !important;
}
.secondary-header .menu-opener
{
    padding-right: 60px !important;
    padding-left: 0 !important;
}

/* Menu opener */
.menu-opener .arrow-opener
{
    margin-right: 135px; 

    color: #c62828 !important;
}

.menu-opener .menu-open-label
{
    font-size: 16px;
    font-weight: 400;

    cursor: pointer;
    text-decoration: none;
    letter-spacing: .05em;
    text-transform: none !important; 

    color: #828282;
}
.menu-opener .menu-open-label .burger-icon
{
    margin-right: 15px !important;
}

.menu-opener.color-scheme-dark .burger-icon,
.menu-opener.color-scheme-dark .burger-icon:after,
.menu-opener.color-scheme-dark .burger-icon:before
{
    background-color: #c62828 !important;
}

/* Menu Main navArmed */
#menu-main-navarmed > .menu-item
{
    margin: 0 17px !important;
}

#menu-main-navarmed > .menu-item > .woodmart-nav-link span
{
    font-size: 14px !important;
    font-weight: 400;

    -webkit-transition: all .3s ease;
            transition: all .3s ease; 
    text-transform: none !important;

    color: #828282;
}

#menu-main-navarmed > .menu-item > .woodmart-nav-link span:hover
{
    color: #c62828 !important;
}

/* Primary menu */
.primary-menu__phone
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 0 28px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.primary-menu__phone-item a
{
    font-size: 14px;
    font-weight: 400;

    text-decoration: none;
    letter-spacing: .03em;

    color: #828282;
}

/* Search on header */
.search-extended form
{
    width: 290px;
}

.searchform input[type=text]
{
    font-size: 12px !important;

    height: 36px !important; 
    padding: 10px;

    color: #828282;
    border: 1px solid #f2f2f2;
    background: #fff !important;
}

/* Dropdown menu */
.sub-menu-dropdown.color-scheme-light,
.woodmart-dark .sub-menu-dropdown
{
    background-color: #fff !important;
}

.dropdown-catalog__category
{
    height: 100%; 
    padding: 25px 30px;
}
.dropdown-catalog__category_title p
{
    font-family: Rubik;
    font-size: 1.8em;
    font-weight: 500;

    padding: 0 10px; 

    text-transform: uppercase;

    color: #4f4f4f !important;
    border-left: 3px solid #c62828;
}
.dropdown-catalog__category_wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin: 20px 0;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
.dropdown-catalog__category_link
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 250px;
    height: 75px;
    padding: 60px 0;

    text-decoration: none;

    color: #828282; 

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.dropdown-catalog__category_link:hover
{
    color: #c62828;
}
.dropdown-catalog__category_image
{
    width: 78px;
    height: 78px;
}
.dropdown-catalog__category_text
{
    font-size: 1.4em;

    padding: 10px;

    color: #828282;
}
.dropdown-catalog__category_text:hover
{
    color: #c62828;
}

.subtitle-h4 h4
{
    font-family: 'Rubik';
    font-size: 2.1em;
    font-weight: 500 !important; 

    padding: 5px 0;

    text-align: center;
    letter-spacing: .05em;

    color: #828282 !important;
}

@media (min-width: 1200px)
{
    .header-full-width .main-header .navigation-wrap > .container,
    .header-full-width .main-header .secondary-header > .container,
    .header-full-width .main-header > .container,
    .header-full-width .single-breadcrumbs-wrapper > .container,
    .header-full-width .sticky-header > .container,
    .header-full-width .topbar-wrapp > .container
    {
        width: 97% !important;
        max-width: 100% !important;
    }
}

.footer__contacts-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.footer__contacts-item:not(:last-child)
{
    margin-bottom: 15px;
}

.footer__contacts-text
{
    font-size: 1.4em; 

    width: 90%;
}
.footer__contacts-text-wrap
{
    width: 90%;
}

.footer__contacts-image
{
    margin-top: 3px; 
    margin-right: 10px;
}

.footer__contacts-link
{
    text-decoration: none; 

    color: #828282;
}
.footer__contacts-link:hover
{
    color: #c62828;
}

.copyright
{
    width: 100%; 
    margin-top: 31px;
}
.copyright__wrapp
{
    position: relative;

    max-width: 1110px;
    margin: 0 auto;
    padding-bottom: 12px;
}
.copyright__wrapp:before
{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 1px;

    content: '';

    background-image: -webkit-gradient(linear, left top, right top, from(rgba(224, 224, 224, 0)), color-stop(50%, #e0e0e0), to(rgba(224, 224, 224, 0)));
    background-image: linear-gradient(to right, rgba(224, 224, 224, 0) 0%, #e0e0e0 50%, rgba(224, 224, 224, 0) 100%);
}
.copyright__list
{
    margin-bottom: 18px;
}
.copyright__text,
.copyright__copy-text
{
    font-size: 1.4em;

    text-align: center;

    color: #888;
}
.copyright__copy-text
{
    padding-bottom: 6px;
}

@media screen and (max-width: 1024px)
{
    .copyright
    {
        margin-top: 10px;
    }
    .copyright__text
    {
        padding: 0 7px;
    }
}

.social
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    list-style: none;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.social__element
{
    position: relative; 

    width: 33px;
    height: 33px;
}
.social__element:not(:last-child)
{
    margin-right: 20px;
}
.social__element_lg
{
    width: 44px;
    height: 44px;

    background-image: url('/wp-content/uploads/social__sprite.svg');
    background-repeat: no-repeat;
}
.social__element_md
{
    background-image: url('/wp-content/uploads/social__sprite.svg');
    background-repeat: no-repeat;
}

.social__element_vk-lg
{
    background-position: 0 0;
}

.social__element_fb-lg
{
    background-position: 0 -44px;
}

.social__element_od-lg
{
    background-position: 0 -88px;
}

.social__element_in-lg
{
    background-position: 0 -132px;
}

.social__element_tw-lg
{
    background-position: 0 -176px;
}

.social__element_tg-lg
{
    background-position: 0 -220px;
}

.social__element_you-lg
{
    background-position: 0 -264px;
}

.social__element_g-lg
{
    background-position: 0 -308px;
}

.social__element_y-lg
{
    background-position: 0 -352px;
}

.social__element_s-lg
{
    background-position: 0 -396px;
}

.social__element_wh-lg
{
    background-position: 0 -440px;
}

.social__element_v-lg
{
    background-position: 0 -484px;
}

.social__element_vk-lg:hover
{
    background-position: -44px 0;
}

.social__element_fb-lg:hover
{
    background-position: -44px -44px;
}

.social__element_od-lg:hover
{
    background-position: -44px -88px;
}

.social__element_in-lg:hover
{
    background-position: -44px -132px;
}

.social__element_tw-lg:hover
{
    background-position: -44px -176px;
}

.social__element_tg-lg:hover
{
    background-position: -44px -220px;
}

.social__element_you-lg:hover
{
    background-position: -44px -264px;
}

.social__element_g-lg:hover
{
    background-position: -44px -308px;
}

.social__element_y-lg:hover
{
    background-position: -44px -352px;
}

.social__element_s-lg:hover
{
    background-position: -44px -396px;
}

.social__element_wh-lg:hover
{
    background-position: -44px -440px;
}

.social__element_v-lg:hover
{
    background-position: -44px -484px;
}

.social__element_vk-md
{
    background-position: 0 0;
}

.social__element_fb-md
{
    background-position: 0 -33px;
}

.social__element_od-md
{
    background-position: 0 -66px;
}

.social__element_in-md
{
    background-position: 0 -99px;
}

.social__element_tw-md
{
    background-position: 0 -132px;
}

.social__element_tg-md
{
    background-position: 0 -165px;
}

.social__element_you-md
{
    background-position: 0 -198px;
}

.social__element_g-md
{
    background-position: 0 -231px;
}

.social__element_y-md
{
    background-position: 0 -264px;
}

.social__element_s-md
{
    background-position: 0 -297px;
}

.social__element_wh-md
{
    background-position: 0 -330px;
}

.social__element_v-md
{
    background-position: 0 -363px;
}

.social__element_vk-md:hover
{
    background-position: -33px 0;
}

.social__element_fb-md:hover
{
    background-position: -33px -33px;
}

.social__element_od-md:hover
{
    background-position: -33px -66px;
}

.social__element_in-md:hover
{
    background-position: -33px -99px;
}

.social__element_tw-md:hover
{
    background-position: -33px -132px;
}

.social__element_tg-md:hover
{
    background-position: -33px -165px;
}

.social__element_you-md:hover
{
    background-position: -33px -198px;
}

.social__element_g-md:hover
{
    background-position: -33px -231px;
}

.social__element_y-md:hover
{
    background-position: -33px -264px;
}

.social__element_s-md:hover
{
    background-position: -33px -297px;
}

.social__element_wh-md:hover
{
    background-position: -33px -330px;
}

.social__element_v-md:hover
{
    background-position: -33px -363px;
}

.copyright-info p
{
    font-family: Rubik;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;

    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;

    color: #828282;
}

.footer-widget
{
    margin-bottom: 0 !important;
}

.widget-title,
.widgettitle
{
    font-family: 'Rubik';
    font-size: 1.8em !important;
    font-weight: 500 !important;

    margin-bottom: 19px;
    padding-left: 10px;

    letter-spacing: .1em;
    text-transform: none !important;

    color: #4f4f4f !important;
    border-left: 3px solid #c62828;
}

.color-scheme-dark .woodmart-widget a,
.color-scheme-dark div[class^=vc_wp] a
{
    color: #828282 !important;
}

.color-scheme-dark .woodmart-widget a:focus,
.color-scheme-dark .woodmart-widget a:hover,
.color-scheme-dark div[class^=vc_wp] a:focus,
.color-scheme-dark div[class^=vc_wp] a:hover
{
    color: #c62828 !important;
}

/* Product menu */
.anchor
{
    position: relative; 
    z-index: 3;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 60px;
    margin-bottom: 5px;

    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    background-color: #f2f2f2;
}
.anchor__wrapper
{
    width: 1366px;
}
.anchor__inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    width: 1366px;

    list-style: none;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.anchor__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-align: center;

    border-right: 1px solid #fff;
}
.anchor__item:last-child
{
    border-right: none;
}
.anchor__item-link
{
    font-family: 'Rubik';
    font-size: 1.4em;

    width: 194px;
    padding: 21px 15px;

    -webkit-transition: .4s;
            transition: .4s; 
    text-decoration: none;
    letter-spacing: .7px;

    color: #828282;
}
.anchor__item-link:hover
{
    color: #4f4f4f; 
    background: #fff;
}

.slick-slide:hover
{
    opacity: 1 !important;
}

.slick-slider > button.slick-prev:before,
.slick-slider > button.slick-next:before
{
    content: none !important;
}

.slick-slider > button
{
    font-size: 30px !important; 

    position: absolute !important;

    width: 0 !important;

    background-color: transparent !important;
}

.slick-prev
{
    left: -35px !important;
}

.slick-next
{
    right: 5px !important;
}

/* View */
.view
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    padding: 0 15px;

    border-bottom: 1px solid #e0e0e0; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.view__wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row; 

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}
.view__inner-slider
{
    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}
.view__inner-description
{
    padding: 15px; 

    -webkit-box-flex: 2;
    -ms-flex: 2;
        flex: 2;
}
.view__item-about
{
    padding-bottom: 15px; 

    border-bottom: 1px solid #e0e0e0;
}
.view__item-about--text
{
    font-family: 'Rubik'; 
    font-size: 1.3em;

    color: #828282;
}
.view__item-about--link
{
    color: #4f4f4f;
}
.view__item-feature__text
{
    display: table;

    width: 100%;
    margin: 15px 0; 

    table-layout: fixed;
}
.view__item-feature__text_in,
.view__item-feature__text-name,
.view__item-feature__text-value
{
    font-family: 'Roboto';
    font-size: 1.3em;
    font-weight: normal;

    position: relative;

    display: table-cell;
    overflow: hidden;

    text-align: left; 
    vertical-align: middle;

    color: #828282;
}
.view__item-feature__text-name p:after
{
    position: absolute;

    width: 100%;
    height: 13px;
    margin-left: 16px; 

    content: '';

    border-bottom: 1px dotted #bdbdbd;
}
.view__item-feature__text-value p,
.view__item-feature__text-value a
{
    margin-left: 16px;
}
.view__item-feature__text-value:after
{
    border: none;
}

.view-feature-title p,
.view-feature-title a
{
    font-family: 'Rubik';
    font-size: 16px;

    letter-spacing: .8px;

    color: #4f4f4f;
}

.view-feature-title:after
{
    height: 20px;
}

.view-slider-main
{
    width: 351px;
}
.view-slider-main img
{
    width: 100%;
    height: 100%;
}

.view-slider-bottom
{
    width: 351px;
}
.view-slider-bottom img
{
    width: 70px;
    height: 60px;
}
.view-slider-bottom__image
{
    overflow: hidden; 

    width: 70px;
    height: 60px;
}

/* Widget single product */
.widget-icon
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    padding-left: 10px; 

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.widget_inner
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*fix widget images*/
.widget_inner > .woocommerce-product-gallery__wrapper:before
{
    display: none !important;
}

.widget__add-to-wishlist,
.widget__compare,
.widget__oneclick
{
    position: relative;
}

/* Добавить в избранное виджет */
.widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-add-button a,
.widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistaddedbrowse a,
.widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistexistsbrowse a,
.widget__compare > .compare-button a,
.widget__compare > .compare-button a.added,
.widget__oneclick a,
.widget__quick-view > .quick-view > a
{
    font-size: 0; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 44px;
    height: 44px;

    -webkit-transition: none !important;
            transition: none !important;

    border-radius: 50%;
    background-color: #f2f2f2;
    background-image: url(/wp-content/uploads/quickview__icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-add-button a:hover
{
    background-position: -44px 0;
}

/* Добавлен в избранное виджет */
.widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistaddedbrowse a
{
    background-position: -44px 0;
}

/* в избранном виджет */
.widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistexistsbrowse a
{
    background-position: -44px 0;
}

/* Добавить к сравнению */
.widget__compare > .compare-button a
{
    background-position: 0 -44px;
}

.widget__compare > .compare-button a:hover
{
    background-position: -44px -44px;
}

/* Добавлено к сравнению */
.widget__compare > .compare-button a.added
{
    font-size: 0; 

    background-position: -44px -44px;
}

.widget__oneclick a
{
    font-size: 0; 

    background-position: 0 -90px;
}

.widget__oneclick a:hover
{
    background-position: -44px -90px;
}

.widget_addtocart > .variations_form > .variations
{
    display: none !important;
}

.widget_addtocart .woocommerce-variation-add-to-cart
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 165px !important;
    padding: 20px 0; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.widget_addtocart .single_add_to_cart_button
{
    margin: 10px 0; 

    border-radius: 2px;
}

/* Виджет быстрого просмотра */
.widget__quick-view > .quick-view > a
{
    width: 33px;
    height: 33px; 

    background-image: url(/wp-content/uploads/product-widget.svg);
    background-position: 0 -66px;
}

/* detail-tabs */
.detail
{
    padding: 15px;
}
.detail__table
{
    width: 100%;
    margin: 0;

    border-collapse: collapse; 

    background-color: transparent;
}
.detail__table-wrapper > .wpb_wrapper
{
    margin: 15px 0;

    border: 1px solid #e0e0e0;
}
.detail__table-title
{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: normal;

    margin: 15px 0 5px 0;

    color: #4f4f4f;
}
.detail__table-item
{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: normal;

    text-align: left;

    color: #828282;
}
.detail__table-item__success
{
    color: #7dc472;
}
.detail__table-item__fail
{
    color: #c62828;
}
.detail__table tbody tr
{
    border: none;
}
.detail__table tbody tr th
{
    width: 35%;
}
.detail__table tbody tr td,
.detail__table tbody tr th
{
    padding: 10px;

    border-color: transparent;
}
.detail__table tbody tr:nth-of-type(odd)
{
    background-color: #f6f6f6;
}

.product__question
{
    width: 18px;
    height: 18px;

    border-radius: 50%;
    background-color: #dadada;
    background-image: url(/wp-content/uploads/product__question.svg);
    background-repeat: no-repeat;
    background-position: 1px 1px;
}
.product__question:hover
{
    background-color: #f2d363;
}
.product__question-detail
{
    display: inline-block; 

    margin-left: 10px;
}

.tooltip
{
    font-size: 13px;

    position: absolute;
    z-index: 999;
    left: -9999px;

    padding: 10px 10px;

    color: #828282;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);
}

h3.comment-reply-title
{
    display: none;
}

.comment-reply-title
{
    margin-top: 33px;
}

textarea.comment-reply-area
{
    min-height: 90px !important;

    resize: none !important;
}

.comment-form > .form-submit > .submit
{
    margin: 20px 0;
}

.woocommerce-Tabs-panel
{
    display: block !important;
}

.single-product_content,
.related-product
{
    background-color: #fff;
}

.single-product__preim
{
    font-family: 'Rubik' !important;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;

    width: 100%;
    margin: 0 auto;
    padding-top: 20px; 

    color: #828282;
}
.single-product__preim h5
{
    color: #4f4f4f;
}

.single-product_wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 1366px;
    margin: 0 auto;
}

.single-product_fixed
{
    right: 0;
}

.single-product_fixed-wrapper
{
    width: 250px;
    padding-top: 40px;
}

.single-product_fixed-wrapper .tc-extra-product-options
{
    display: none;
}

h4.product_title
{
    font-family: Rubik;
    font-size: 1.4em;

    color: #4f4f4f;
}

.title-next > h2
{
    display: none;
}

.product-single__title h2
{
    font-family: 'Rubik';
    font-size: 2.3em !important;
    font-size: 2.2em;
    font-weight: normal;

    padding-left: 7px;

    text-align: left;
    text-transform: uppercase;

    color: #4f4f4f;
    border-left: 3px solid #c62828;
}

.product-single__prem-image
{
    width: 178px;
}

.woocommerce-product-details__short-description p
{
    font-size: 1.3em;
    line-height: 1.3 !important;

    margin-top: 20px !important; 

    color: #828282;
}

.feedback-wrapper > .vc_column-inner > .wpb_wrapper
{
    max-width: 600px !important;
}

.testimonial-wrapper > .vc_column-inner > .wpb_wrapper
{
    max-width: 600px;
    margin: 0 auto;
}

.wpb_video_heading
{
    font-family: Roboto;
    font-size: 16px !important;
    font-weight: normal;
    font-style: normal;
    line-height: normal;

    color: #828282 !important;
}

.product-share
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.description_product p,
.description_product ul
{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;

    color: #828282;
}

#tab-brand_tab p,
#tab-description p,
#tab-woodmart_additional_tab p
{
    line-height: 1.5 !important;
}

.banner-wrapper
{
    height: auto;

    background: #fff;
}

.banner-inner
{
    position: relative;
}
.banner-inner .banner-item
{
    position: relative;

    float: left;
    overflow: hidden;

    width: 25%;

    -webkit-transition: all .5s ease;
            transition: all .5s ease;
}
.banner-inner .banner-item img
{
    width: 100%;

    -webkit-transition: all .8s ease 0s;
            transition: all .8s ease 0s;
}
.banner-inner .horizontal
{
    width: 50%;
}

.banner-content
{
    position: absolute;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    height: 100%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.banner-content__title--1
{
    margin-top: 125px;
    margin-left: 110px;
}
.banner-content__title--1 h3
{
    font-family: 'Rubik';
    font-size: 3em;
    font-weight: 500;

    text-align: center; 
    letter-spacing: .15em;
    text-transform: uppercase;

    color: #0097a6;
}
.banner-content__title--1 p
{
    font-family: 'Rubik';
    font-size: 2em;

    padding: 15px 0; 

    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;

    color: #828282;
}
.banner-content__link--1
{
    margin-bottom: 190px;
    margin-left: 203px;
}
.banner-content__link--1 a
{
    font-size: 2em;

    position: relative; 

    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;

    color: #0097a6;
}
.banner-content__link--1 a .icon-right
{
    top: 5%;
    right: -25px;

    width: 27px;
    height: 24px; 

    background: url(/wp-content/uploads/arrow-right.svg) center no-repeat;
    background-position: 0 0;
}
.banner-content__title--2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 34px auto; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.banner-content__title--2 h3
{
    font-family: 'Rubik';
    font-size: 3em;
    font-weight: 500;

    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase; 

    color: #4f4f4f;
}
.banner-content__title--2 h3 span
{
    color: #c62828;
}
.banner-content__title--2 p
{
    font-family: 'Rubik';
    font-size: 2em;

    text-align: center; 
    letter-spacing: .05em;
    text-transform: uppercase;

    color: #828282;
}
.banner-content__link--2
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 21px auto; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.banner-content__link--2 p
{
    font-family: 'Rubik';
    font-size: 2em;

    padding: 7px 0; 

    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;

    color: #828282;
}
.banner-content__link--2 p span
{
    color: #c62828;
}
.banner-content__link--2 a
{
    font-size: 2em;

    position: relative; 

    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;

    color: #c62828;
}
.banner-content__link--2 a .icon-right
{
    top: 5%;
    right: -25px;

    width: 27px;
    height: 24px; 

    background: url(/wp-content/uploads/arrow-right.svg) center no-repeat;
    background-position: 0 -24px;
}
.banner-content__title--3
{
    margin: 34px 58px;
}
.banner-content__title--3 h3
{
    font-family: 'Rubik';
    font-size: 3em;
    font-weight: 500;

    padding: 2px 0; 

    letter-spacing: .15em;
    text-transform: uppercase;

    color: #ff6363;
}
.banner-content__title--3 p
{
    font-family: 'Rubik';
    font-size: 2em;
    line-height: 1; 

    padding: 2px 0;

    letter-spacing: .05em;
    text-transform: uppercase;

    color: #828282;
}
.banner-content__link--3
{
    padding-bottom: 52px;
    padding-left: 58px;
}
.banner-content__link--3 a
{
    font-family: 'Rubik';
    font-size: 2em;

    position: relative;

    text-align: center;
    text-decoration: none; 
    letter-spacing: .05em;
    text-transform: uppercase;

    color: #ff6363;
}
.banner-content__link--3 a .icon-right
{
    top: 5%;
    right: -25px;

    width: 27px;
    height: 24px; 

    background: url(/wp-content/uploads/arrow-right.svg) center no-repeat;
    background-position: 0 -72px;
}
.banner-content__title--4
{
    padding-top: 65px; 
    padding-left: 424px;
}
.banner-content__title--4 h3
{
    font-family: 'Rubik';
    font-size: 3em;
    font-weight: 500;

    letter-spacing: .15em;
    text-transform: uppercase;

    color: #4ebf9d;
}
.banner-content__title--4 p
{
    font-family: 'Rubik';
    font-size: 2em;

    margin: 20px 0; 

    letter-spacing: .05em;
    text-transform: uppercase;

    color: #828282;
}
.banner-content__link--4
{
    padding-bottom: 41px;
    padding-left: 423px;
}
.banner-content__link--4 a
{
    font-family: 'Rubik';
    font-size: 2em;

    position: relative;

    text-align: center;
    text-decoration: none; 
    letter-spacing: .05em;
    text-transform: uppercase;

    color: #4ebf9d;
}
.banner-content__link--4 a .icon-right
{
    top: 5%;
    right: -25px;

    width: 27px;
    height: 24px; 

    background: url(/wp-content/uploads/arrow-right.svg) center no-repeat;
    background-position: 0 -48px;
}
.banner-content__title--5
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column; 

    margin: 30px auto;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.banner-content__title--5 h3
{
    font-family: 'Rubik';
    font-size: 3em;
    font-weight: 500;

    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase;

    color: #4f4f4f;
}
.banner-content__title--5 h3 span
{
    color: #ffb178;
}
.banner-content__title--5 p
{
    font-family: 'Rubik';
    font-size: 2em;

    margin: 8px 0; 

    letter-spacing: .05em;
    text-transform: uppercase;

    color: #828282;
}
.banner-content__link--5
{
    margin: 34px auto;
}
.banner-content__link--5 a
{
    font-family: 'Rubik';
    font-size: 2em;

    position: relative; 

    text-align: center;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;

    color: #ffb178;
}
.banner-content__link--5 a .icon-right
{
    top: 5%;
    right: -25px;

    width: 27px;
    height: 24px; 

    background: url(/wp-content/uploads/arrow-right.svg) center no-repeat;
    background-position: 0 -96px;
}

@media (max-width: 991px)
{
    .banner-inner .banner-item
    {
        width: 50%;
    }
}

@media (max-width: 767px)
{
    .banner-inner .banner-item
    {
        width: 100%;
    }
}

.sale__product-sale
{
    background: #fff;
}
.sale__product-sale_title
{
    font-family: 'Rubik';
    font-size: 5.4em;
    font-weight: bold;

    padding-top: 22px; 

    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase;

    color: #d1e3f4;
}
.sale__product-sale_image
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0 auto;
    margin-top: -20px;
}
.sale__product-sale_inner-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    text-decoration: none; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sale__product-sale_inner-item img
{
    -webkit-transition: all .3s ease;
            transition: all .3s ease; 

    border: 1px solid transparent;
}
.sale__product-sale_inner-item img:hover
{
    border: 1px solid #e0e0e0;
}
.sale__product-sale_text
{
    font-family: 'Rubik';
    font-size: 1.8em;

    padding: 15px 0; 

    letter-spacing: .15em;
    text-transform: uppercase;

    color: #828282;
}
.sale__product-sale_button
{
    font-family: 'Rubik';
    font-size: 1.6em;

    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 200px;
    margin: 0 auto;
    padding: 24px 0;

    -webkit-transition: all .3s ease;
            transition: all .3s ease; 
    text-align: center;
    text-decoration: none;
    letter-spacing: .05em;
    text-transform: uppercase;

    color: #c62828;
    border-radius: 2px;
    background: #fff;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.sale__product-sale_button .icon-right
{
    top: 42%;
    right: 30px;
}

.sale__countdown_content h2
{
    font-family: 'Rubik';
    font-size: 4.2em;
    font-weight: 500;

    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase;

    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .25);
}

.sale__countdown_content p
{
    font-family: 'Rubik';
    font-size: 2em;

    padding: 5px 70px;

    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;

    color: #fff;
}

.btn-size-extra-large
{
    font-weight: 400 !important;
    line-height: 22px;

    padding: 17px 40px;

    color: #c62828 !important;
    border-radius: 2px !important;
}

.bg-product-grid-item
{
    border: 1px solid #e0e0e0; 
    background: #fff;
}

.product-element-top,
.product-element-top .hover-img
{
    padding: 0 20px;
}

.product-grid-item__title > h3.product-title
{
    font-family: Rubik;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2 !important;

    padding-top: 15px;
    padding-right: 30px; 
    padding-bottom: 15px;
    padding-left: 30px;

    text-align: center;
    text-transform: uppercase;
}
.product-grid-item__title > h3.product-title a
{
    color: #828282 !important;
}

.woodmart-hover-base.has-stars.purchasable .star-rating
{
    height: 40px !important;
}

.content-product-imagin .product-grid-item__title > h3.product-title
{
    padding: 15px 40px;
}

.product-price-rating
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column-reverse;

    height: auto !important; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.product-price-rating .star-rating
{
    width: 93px; 
    margin: 10px 0;
}
.product-price-rating .star-rating:before
{
    font-size: 17px;
}
.product-price-rating .star-rating span:before
{
    font-size: 17px !important;
}
.product-price-rating .product__question-detail
{
    display: inline-block;

    margin-bottom: 4px; 

    vertical-align: middle;
}

.woodmart-buttons
{
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.woodmart-buttons .woodmart-add-btn a
{
    font-family: Rubik;
    font-size: 16px !important;
    font-weight: 400 !important;
    font-style: normal;
    line-height: normal;

    width: 164px !important;
    padding: 3px 0 !important; 

    text-align: right;
    letter-spacing: .05em;
    text-transform: none !important;

    border-radius: 2px !important;
}

/* Виджеты в карточке товара */
.widget-icon-grid
{
    position: absolute;
    top: 0;
    right: 10px;

        flex-direction: column;

    height: 100%; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.widget-icon-grid .widget__compare > .product
{
    padding: 0 !important;
}
.widget-icon-grid .widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-add-button a,
.widget-icon-grid .widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistaddedbrowse a,
.widget-icon-grid .widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistexistsbrowse a,
.widget-icon-grid .widget__compare > .compare-button a,
.widget-icon-grid .widget__compare > .compare-button a.added,
.widget-icon-grid .widget__oneclick a,
.widget-icon-grid .widget__quick-view > .quick-view > a
{
    font-size: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 33px;
    height: 33px;
    margin: 15px 0; 
    padding: 0 !important;

    -webkit-transition: none !important;
            transition: none !important;

    border-radius: 50%;
    background-color: #f2f2f2;
    background-image: url(/wp-content/uploads/product-widget.svg);
    background-repeat: no-repeat;
}
.widget-icon-grid .widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-add-button a:hover,
.widget-icon-grid .widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistaddedbrowse a:hover,
.widget-icon-grid .widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistexistsbrowse a:hover,
.widget-icon-grid .widget__compare > .compare-button a:hover,
.widget-icon-grid .widget__compare > .compare-button a.added:hover,
.widget-icon-grid .widget__oneclick a:hover,
.widget-icon-grid .widget__quick-view > .quick-view > a:hover
{
    -webkit-box-shadow: inset 0 0 200px rgba(0, 0, 0, .1);
            box-shadow: inset 0 0 200px rgba(0, 0, 0, .1);
}

/* Виджеты, спрайты, ховеры */
.widget-icon-grid .widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-add-button a
{
    background-position: 0 0;
}

.widget-icon-grid .widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistaddedbrowse a,
.widget-icon-grid .widget__add-to-wishlist > .yith-wcwl-add-to-wishlist > .yith-wcwl-wishlistexistsbrowse a,
.widget-icon-grid:hover
{
    background-position: -33px 0;
}

.widget-icon-grid .widget__compare > .compare-button a
{
    background-position: 0 -33px;
}
.widget-icon-grid .widget__compare > .compare-button a .added,
.widget-icon-grid .widget__compare > .compare-button a:hover
{
    background-position: -33px -33px;
}

.widget-icon-grid .widget__quick-view > .quick-view > a
{
    background-position: 0 -66px;
}
.widget-icon-grid .widget__quick-view > .quick-view > a:hover
{
    background-position: -33px -66px;
}

.widget-icon-grid .widget__oneclick a
{
    background-position: 0 -99px;
}
.widget-icon-grid .widget__oneclick a:hover
{
    background-position: -33px -99px;
}

.hidden-widget .widget-icon-grid
{
    right: -40px;

    visibility: hidden;

    -webkit-transition: all .5s ease;
            transition: all .5s ease; 

    opacity: 0;
}

.visible-widget .widget-icon-grid
{
    visibility: visible;

    -webkit-transition: all .5s ease;
            transition: all .5s ease; 

    opacity: 1;
}
