@import "menu/menu"
@import "slick/slick"
@import "view/view"
@import "widget/widget"
@import "detail/detail"
@import "reviews/reviews"

.woocommerce-Tabs-panel
  display: block!important

.single-product_content, .related-product
  background-color: #fff

.single-product__preim
  width: 100%
  margin: 0 auto
  font-family: 'Rubik'!important
  font-style: normal
  font-weight: 400
  line-height: normal
  font-size: 14px
  color: #828282
  padding-top: 20px
  h5
    color: #4f4f4f

.single-product_wrapper
  display: flex
  max-width: 1366px
  margin: 0 auto

.single-product_fixed
    right: 0

.single-product_fixed-wrapper
  width: 250px
  padding-top: 40px

.single-product_fixed-wrapper .tc-extra-product-options
  display: none



h4.product_title
  font-family: Rubik
  font-size: 1.4em
  color: #4F4F4F

.title-next > h2
  display: none

.product-single__title h2
  font-size: 2.3em!important
  font-family: 'Rubik'
  font-size: 2.2em
  font-weight: normal
  padding-left: 7px
  text-align: left
  text-transform: uppercase
  color: #4f4f4f
  border-left: 3px solid #c62828


.product-single__prem-image
  width: 178px

.woocommerce-product-details__short-description p
  font-size: 1.3em
  color: #828282
  line-height: 1.3!important
  margin-top: 20px!important

.feedback-wrapper > .vc_column-inner > .wpb_wrapper
  max-width: 600px!important


.testimonial-wrapper > .vc_column-inner > .wpb_wrapper
  max-width: 600px
  margin: 0 auto

.wpb_video_heading
  font-family: Roboto
  font-style: normal
  font-weight: normal
  line-height: normal
  font-size: 16px!important
  color: #828282!important

.product-share
  display: flex
  flex-direction: column

.description_product
  p, ul
    font-family: Roboto
    font-style: normal
    font-weight: normal
    line-height: normal
    font-size: 14px
    color: #828282

#tab-brand_tab p, #tab-description p, #tab-woodmart_additional_tab p
  line-height: 1.5 !important
