h3.comment-reply-title
  display: none

.comment-reply-title
  margin-top: 33px

textarea.comment-reply-area
  min-height: 90px!important
  resize: none!important

.comment-form > .form-submit > .submit
  margin: 20px 0

.woocommerce-noreviews
  font-family: Roboto
  font-size: 1.4em
  font-weight: normal
  color: #828282
  padding-bottom: 50px

ol.commentlist
  padding-bottom: 50px