/** ------------------------------------------
* CATEGORY GRID ITEM
* ------------------------------------------ */

.category-grid-item {
	margin-bottom: 30px;
	
	.category-image {
		display: block;
		margin: -1px;

	    -webkit-transition:
	    	transform .5s cubic-bezier(0, 0, 0.44, 1.18);
		transition:
			transform .5s cubic-bezier(0, 0, 0.44, 1.18);
	}

	img {
		width:100%;
	}

	.category-link {
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right:0;	
		z-index: 5;	
	}

	.category-title {
		text-transform: uppercase;
		line-height: 1.5;
	    font-size: 20px;
	    font-weight: 600;
	    color: $light-dark;
	    margin-bottom: 0;
	    @extend %secondary-title;
	}

	.count {
		display: none;
		padding: 0;
		background-color: transparent;
		color:rgba(88, 88, 88, 0.35);
	}

	.more-products {
		color: #8E8E8E;
		font-size: 110%;

		> a {
			color: inherit;
		}	
	}

	&:hover {

		.category-image {
			transform: scale3d(1.1,1.1,1);
		    -webkit-transform: scale3d(1.1,1.1,1);
		}
	}

	.woodmart-dark & {

		.category-title {
			color:$scheme-light--title-color;
		}

		.more-products {
			color:$scheme-light--link-color;
		}
	}
}

// ------------------------------------------
// CATEGORIES DESIGN DEFAULT
// ------------------------------------------

.cat-design-default {
	
	.wrapp-category {
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
		position: relative;
		overflow: hidden;
	}

	.hover-mask {
	    position: absolute;
	    bottom: 15px;
	    left:20px;
	    right: 20px;
		transform: translateY(100%) translateZ(0);
	    -webkit-transform: translateY(100%) translateZ(0);
	    -webkit-transition:
	    	transform .3s ease;
		transition:
			transform .3s ease;
	}

	.category-title {
		position: absolute;
		left:0;
		bottom: 100%;
	}

	.more-products {
		margin-top:5px;
		opacity: 0;
		transform: translateY(15px) translateZ(0);
	    -webkit-transform: translateY(15px) translateZ(0);

	    -webkit-transition:
	    	transform .3s ease, 
	    	opacity .3s ease;
		transition:
			transform .3s ease, 
			opacity .3s ease;	
	}

	&:hover {

		.hover-mask {
			transform: translateY(0) translateZ(0);
		    -webkit-transform: translateY(0) translateZ(0);
		}

		.more-products {
			opacity: 1;
			transform: translateY(0) translateZ(0);
		    -webkit-transform: translateY(0) translateZ(0);
		}
	}
}

// ------------------------------------------
// CATEGORIES DESIGN ALTERNATIVE
// ------------------------------------------

.cat-design-alt {
	margin-bottom: 20px;
	
	.category-image-wrapp {
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
		position: relative;
		overflow: hidden;
	}

	.category-link {
		display: none;
	}

	.hover-mask {
		text-align: center;
		padding: 10px;
	}
}

// ------------------------------------------
// GENERALS STYLES OF DESIGN CENTER AND DESIGN REPLACE
// ------------------------------------------

.cat-design-center,
.cat-design-replace-title {

	.wrapp-category {
		position: relative;
		overflow: hidden;

		&:before {
			content: "";
			position: absolute;
			top:0;
			bottom: 0;
			left: 0;
			right:0;
			background-color: black;
			opacity: .1;
			z-index: 2;
		}
	}

	&:hover {

		.wrapp-category {

			&:before {
				opacity: .4;
			}
		}
	}	
}

// ------------------------------------------
// CATEGORIES DESIGN CENTER
// ------------------------------------------

.cat-design-center {
	text-align: center;

	.wrapp-category {

		&:before {
			transition:
				opacity .5s cubic-bezier(0, 0, 0.44, 1.18);
	    	-webkit-transition:
	    		opacity .5s cubic-bezier(0, 0, 0.44, 1.18);
		}
	}

	.hover-mask {
	    position: absolute;
	    top:50%;
	    left:0;
	    right: 0;
	    padding: 15px;
	    z-index: 3;
		transform: translateY(calc(-50% + 20px)) translateZ(0);
	    -webkit-transform: translateY(-webkit-calc(-50% + 20px)) translateZ(0);

	    -webkit-transition:
	    	transform .3s ease;
		transition:
			transform .3s ease;
	}

	.category-title {
		color:$scheme-light--title-color;
	}

	.more-products {
		line-height: 20px;
		margin-top: 5px;
		opacity: 0;
		color:$scheme-light--link-color;

		transform: translateY(15px) translateZ(0);
	    -webkit-transform: translateY(15px) translateZ(0);

	    -webkit-transition:
	    	transform .3s ease, 
	    	opacity .3s ease;
		transition:
			transform .3s ease, 
			opacity .3s ease;	

		a {
			color: inherit;
		}	
	}

	&:hover {

		.hover-mask {
			transform: translateY(-50%) translateZ(0);
		    -webkit-transform: translateY(-50%) translateZ(0);
		}

		.more-products {
			opacity: 1;
			transform: none;
		    -webkit-transform: none;
		}
	}
}

// ------------------------------------------
// CATEGORIES DESIGN REPLACE
// ------------------------------------------

.cat-design-replace-title {
	text-align: center;

	.wrapp-category {

		&:before {
			transition:opacity .6s cubic-bezier(0, 0, 0.44, 1.18);
	    	-webkit-transition:opacity .6s cubic-bezier(0, 0, 0.44, 1.18);
		}
	}

	.hover-mask,
	.more-products {
	    position: absolute;
	    top:0;
	    left:0;
	    right:0;
	    bottom: 0;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    flex-wrap: wrap;
	    padding: 15px;
	    z-index: 3;
	}	

	.category-title {
		@extend %primary-background;
		color:$scheme-light--title-color;
	    padding: 12px 25px;
	    line-height: 1.4;
	    font-size: 18px;
	    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
	    -webkit-transition:
	    	opacity .25s ease .25s;
		transition:
			opacity .25s ease .25s;
	}

	.more-products {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		color:$scheme-light--body-color-darken;
		opacity: 0;
	    -webkit-transition:
	    	opacity .25s ease;
		transition:
			opacity .25s ease;
	}

	&:hover {

		.category-title {
			opacity: 0;
		    -webkit-transition:
		    	opacity .25s ease;
			transition:
				opacity .25s ease;
		}

		.more-products {
			opacity: 1;
		    -webkit-transition:
		    	opacity .25s ease .25s;
			transition:
				opacity .25s ease .25s;
		}
	}
}

// ------------------------------------------
// CATEGORIES DESIGN FIRST WHITE
// ------------------------------------------

.categories-style-masonry-first {

	.category-grid-item {

		&:first-child {

			.category-title {
				font-size: 28px;
			}
		}		
	}
}

// ------------------------------------------
// CATEGORIES ON CAROUSEL
// ------------------------------------------

.categories-style-carousel {

	.owl-stage-outer {
	    padding-top: 2px;
	    padding-bottom: 2px;    
	}
}