
// ------------------------------------------------------------------------------------------------
// HOVER ICONS
// ------------------------------------------------------------------------------------------------ 

.woodmart-hover-icons {

	.wrapp-buttons {
		position: absolute;
		bottom:10px;
		left:0;
		right:0;
		opacity: 0;
		visibility: hidden;
		text-align: center;

		transform:translate3d(0,25px,0);
	    -webkit-transform:translate3d(0,25px,0);

		-webkit-transition:
			opacity .3s ease,
			visibility .3s ease,
			transform .3s ease;
		transition:
			opacity .3s ease,
			visibility .3s ease,
			transform .3s ease;
	}

	.woodmart-buttons {
		position: static;
		display: inline-flex;
		align-items: stretch;
		flex-direction: row;
		flex-wrap:nowrap;
		opacity: 1;
		padding: 0 7px;

		> div {

			a {
				width: 43px;
				@include tooltip-fade-in-top;
			}
		}
	}

	&:hover {

		.wrapp-buttons {
			transform:none;
		    -webkit-transform:none;			
			opacity: 1;
			visibility: visible;
		}
	}

	&.product-swatched {

		.wrapp-buttons {
			transform:translate3d(0,25px,0);
		    -webkit-transform:translate3d(0,25px,0);
			opacity: 0;
			visibility: hidden;
		}

		.product-element-top {

			&:hover {

				.wrapp-buttons {
					transform:none;
					-webkit-transform:none;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	&.hover-width-small:not(.product-in-carousel) {

		.wrapp-buttons {
			bottom:5px;
		}

		.woodmart-buttons {
			display:flex;
			margin-left: 5px;
			margin-right: 5px;

			> div {
				flex:1 1 auto;

				a {
					width: 100%;
				}
			}
		}
	}
}